@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');

:root {
    --red: #da2929;
    --yellow: #faa307;
    --White: #ffffff;
    --green: #30b241;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing {
    background-image: url("./images/rice.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;

}

header {
    display: flex;
    font: bold;
    padding: 10px;
    flex-wrap: wrap;
    align-items: baseline;
}

header #logo {
    flex: 2;
    font-size: 2rem;
    min-width: 250px;
}

nav {
    font-size: 1.7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    flex: 3;
}

nav a {
    flex: 1;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a i {
    margin-right: 10px;
}

header a {
    text-decoration: none;
    color: aliceblue;
}

header a:hover {
    color: var(--yellow);
}

.maintext {
    color: var(--White);
    display: flex;
    flex-direction: column;
    padding: 50px;
    position: relative;
}

.maintext .para1 {
    font-size: 3rem;
    color: var(--yellow);
    text-align: center;
    flex: 2;
}

.maintext .para2 {
    font-size: 1.75rem;
    align-self: left;
    justify-self: end;
    flex-basis: 0;
    flex: 3;
    top: 50px;
    width: 250px;
}

.maintext button {
    width: 150px;
    background-color: var(--red);
    color: var(--White);
    font-family: inherit;
    font-size: 1.75rem;
    border-radius: 10px;
    box-shadow: 5px;
    transition: ease-in-out;
    transition-property: all;
    transition-duration: 0.2s;
}

button:hover {
    background-color: var(--green);
    width: 200px;

}

#menu-heading,
#loc-heading {
    margin: 0;
    padding: 10px;
    background: linear-gradient(to right, rgb(13, 13, 13), rgb(107, 103, 103));
    text-align: center;
    color: var(--green);
}

table {
    width: 100%;
}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    padding: 0 20px 0 20px;
    background: linear-gradient(to right, rgb(13, 13, 13), rgb(107, 103, 103));
    color: var(--White);
    align-items: start;
    justify-content: center;
    gap: 40px;
}

.menu th {
    font-size: 1.5rem;
    color: var(--yellow);
    grid-column: span 2;

}

.menu tr {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.menu tr td {
    display: grid;
    row-gap: 40px;
    margin-top: 1em;
}

td:nth-child(even) {
    justify-content: end;
}

.locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, rgb(13, 13, 13), rgb(107, 103, 103));
    color: var(--White);
    padding: 20px;
}

.locations div {
    min-width: 100px;
}

h3 {
    font-size: 1.5rem;
    color: var(--yellow);
    margin: 0;
}

address {
    line-height: 30px;
}

footer {
    background-color: black;
    color: wheat;
    padding: 10px;
}

footer p {
    margin: 10px;
    padding: 10px 0;
    font-size: 1.5rem;

}

footer div a {
    font-size: 1.5rem;
    width: 60px;
    height: 60px;
    padding: 10px;
    margin: 0 10px;
    background-color: antiquewhite;
    border: 2px solid antiquewhite;
    border-radius: 50%;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

footer div a:nth-child(1):hover {
    background-color: #0926ca;
    color: white;
    border: 2px solid white;
}

footer div a:nth-child(2):hover {
    background-color: rgb(202, 17, 17);
    color: white;
    border: 2px solid rgb(202, 17, 17);
}

footer div a:nth-child(3):hover {
    background-color: #e7239c;
    color: white;
    border: 2px solid  #9e0d56;
    transform: translate(0px,10px);
    transform: rotate(45deg);
}